body{
    margin: 0;
    padding: 0;
}
.header-out{
    width: 100%;
    height: 200px;
    background-color: rgb(46, 46, 73); 
}
.header-div{
    width: 1000px;
    height: 200px;
    margin: auto;
    display: flex;
}
.header-div_out{
    width: 700px;
    height: 200px;
}
.header-p{
    width: 700px;
    height: 120px;
    color: #fff;
    font-size: 72px;
    line-height: 120px;
}
.header-pp{
    width: 700px;
    height: 80px;
    color: #fff;
    font-size: 26px;
}
.header-div_outer{
    width: 300px;
    height: 200px;
}
.border-out{
    width: 200px;
    height: 70px;
    border-radius: 10px;
    margin:30px 0;
    display: flex;
}
.border-img{
    width: 70px;
    height: 90px;
}
.border-right{
    width: 110px;
    height: 90px;
    color: #fff;
    line-height: 90px;
}
.main-out{
    width: 1000px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.div-out{
    width: 700px;  
}
.div-out p{
    font-size: 18px;
}
.main-div{
    width: 300px;
}
.main-div_border{
    width: 170px;
    height: 80px;
    margin: 20px 20px;
    border-radius: 10px;
    background-color: rgb(46, 46, 73); 
}
.div-out_outer{
    width: 700px;
}
.div-outer_out{
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-indent: 2em;
}
.title-two::before{
    content: "//";
    color: darkslateblue;
    margin-right: 10px;
}
