body{
    margin: 0;
    padding: 0;
}
.header-out{
    width: 100%;
    height: 100px;
    background-color: rgb(40, 41, 58);
    position: relative;
    animation-name: first;
    animation-direction:  alternate;
    animation-delay: 2s;
    animation-timing-function:ease;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
@keyframes first{
    from{background-color: rgb(40, 41, 58);}
    to{background-color: rgb(41, 63, 63);}
}

.div-out{
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 100px;
    position: relative;
}
.div-change{
    animation-name: test;
    animation-direction:  alternate;
    animation-timing-function:ease;
    animation-iteration-count: 2;
    animation-duration: 3s;
}
@keyframes test{
    0%   { left:0px; top:0px;}
    25%  { left:1850px; top:0px;}
    50%  { left: 1850px; top:50px;}
    75%  { left:0px; top:50px;}
    100% { left:0px; top:0px;}
}
.div-out img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.div-p{
    width: 400px;
    height:20px;
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 15px;
    position: relative;
    
}
.change{
    animation-name: two;
    animation-direction:  alternate;
    animation-timing-function:ease;
    animation-iteration-count: 4;
    animation-duration: 3s;
}
@keyframes two{
    from{opacity: 0;}
    to{opacity: 0.6;}
}
.main-out{
    width: 100%;
    height: 700px;
    background-color: rgb(40, 41, 58);
    /* text-align: center; */
    color: #fff;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}
.main-div{
    display: inline-block;
    position: relative;
    opacity: 0.1;
}
.main-change{
    animation-name: name;
    /* animation-delay: 12s; */
    animation-direction:  alternate;
    animation-timing-function:ease;
    animation-iteration-count: 4;
    animation-duration: 3s;
}
@keyframes name{
   from{left: 0px; top: 0px; opacity: 0;}
   to{left: 1700px; top: 650px; opacity: 0.8;}
}
.main-outer1{
    display: inline-block;
    position: relative;
    opacity: 0.1;
   
}
.change-outer{
    animation-name: three;
    /* animation-delay: 12s; */
    animation-direction:  alternate;
    animation-timing-function:ease;
    animation-iteration-count: 4;
    animation-duration: 3s;
}
@keyframes three{
   from{right: 0px; top: 0px; opacity: 0;}
   to{right: 1700px; top: 650px; opacity: 0.8;}
}
.footer-out{
    width: 100%;
    height: 120px;
    background-color: rgb(40, 41, 58);
    animation-name: first;
    position: relative;
    animation-direction:  alternate;
    /* animation-delay: 2s; */
    animation-timing-function:ease;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
@keyframes first{
    from{background-color: rgb(40, 41, 58);}
    to{background-color: rgb(58, 59, 85);}
}
.footer-out button{
    width: 70px;
    height: 30px;
    
}
.sub{
    animation-name: user;
    animation-direction:  alternate;
    animation-timing-function:ease;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes user{
    from{transform: translateY(0);}
    to{transform: translateY(-900px);}
}
.div-main{
    width: 100%;
    height: 900px;
    background-color: rgb(40, 41, 58);
    display: flex;
}
.div-main_first{
    width: 420px;
    height: 600px;
    margin-top: 70px;
    margin-left: 10px;
    border-radius: 20px;
    position: relative;
    border:1px solid black ;
}
.changes{
    animation-name: bear;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-direction:alternate;
    animation-timing-function:linear;
}
@keyframes bear{
    0%{top:-10px}
    20%{top:10px}
    40%{top:-10px}
    60%{top:10px}
    80%{top:-10px}
    100%{top:10px}
   }

.div-main_firste{
    width: 500px;
    height: 760px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    position: relative;
    border:1px solid black ;
}

   .div-main_firster{
    width: 420px;
    height: 600px;
    margin-top: 70px;
    margin-left: 10px;
    border-radius: 20px;
    position: relative;
    border:1px solid black ;
}
   .div-main_firstert{
    width: 500px;
    height: 760px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    position: relative;
    border:1px solid black ;
}