body {
  margin: 0;
  padding: 0;
}
.header-out {
  width: 100%;
  height: 50px;
}
.header-out .header-title {
  width: 1500px;
  height: 50px;
  margin: auto;
  display: flex;
}
.header-out .header-title .div-first {
  width: 180px;
  height: 50px;
  color: #ec7259;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  font-weight: 550;
}
.header-out .header-title .div-second {
  width: 500px;
  height: 50px;
  margin-left: 90px;
  display: flex;
}
.header-out .header-title .div-second .left {
  width: 220px;
  height: 50px;
  color: #333333;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}
.header-out .header-title .div-second .right {
  width: 150px;
  height: 50px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.header-out .header-title .div-second .right > input {
  width: 130px;
  height: 25px;
  margin-top: 10px;
  border-radius: 50px 0px 0px 50px;
  outline: none;
  background-color: #f2f2f2;
  border: none;
}
.header-out .header-title .div-second .right .div-img {
  width: 30px;
  height: 25px;
  background-color: #f2f2f2;
  margin-top: 11px;
  border-radius: 0px 50px 50px 0px;
}
.header-out .header-title .div-second .right .div-img > img {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
.header-out .header-title .div-third {
  width: 400px;
  height: 50px;
  margin-left: 290px;
  display: flex;
  justify-content: space-between;
}
.header-out .header-title .div-third .third-div {
  width: 60px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #747272;
}
.header-out .header-title .div-third .third-center {
  width: 85px;
  height: 45px;
  border-radius: 100px;
  line-height: 45px;
  text-align: center;
  color: #ec7259;
  border: 1px solid #ec7259;
  margin-left: 10px;
}
.header-out .header-title .div-third .third-right {
  width: 90px;
  height: 50px;
  background-color: #ec7259;
  border-radius: 100px;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.main-out {
  width: 1080px;
  margin: auto;
  display: flex;
}
.main-out .main-left {
  width: 62px;
  height: 270px;
  margin-top: 180px;
}
.main-out .main-left .main-left_top {
  width: 62px;
  height: 80px;
  margin-top: 6px;
}
.main-out .main-left .top-first {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 100px;
}
.main-out .main-left .top-first > img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
}
.main-out .main-left .top-second {
  width: 62px;
  height: 20px;
  color: #969696;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.main-out .main-center {
  width: 690px;
  margin-left: 18px;
}
.main-out .main-center .center-top {
  width: 718px;
  height: 60px;
  display: flex;
}
.main-out .main-center .center-top .center-left {
  width: 60px;
  height: 60px;
}
.main-out .main-center .center-top .center-left > img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.main-out .main-center .center-top .center-right {
  width: 300px;
  height: 60px;
  color: #969696;
}
.main-out .main-center .center-bottom {
  width: 650px;
  height: 60px;
  margin-top: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
}
.main-out .main-center .center-bottom .bottom-left {
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
.main-out .main-center .center-bottom .bottom-lefter {
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #969696;
}
.main-out .main-right {
  width: 300px;
}

